body {
  font-family: "Arial", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric.png"),
    linear-gradient(135deg, #f06, #0ff); /* Example gradient */
  background-repeat: repeat, no-repeat; /* Repeat pattern, no-repeat for gradient */
  background-size: auto, 300% 300%; /* Auto for pattern, size for gradient */
  animation: gradient 10s ease infinite;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 800px;
  width: 90%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  transition: border 0.3s;
}

input:focus {
  border-color: #28a745;
  outline: none;
}

button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #218838;
}

#map {
  height: 500px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#results {
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  transition: background 0.3s;
}

.result-item:last-child {
  border-bottom: none;
}

.result-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.result-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  transition: transform 0.3s;
}

.result-item img:hover {
  transform: scale(1.1);
}

.result-item .info {
  flex: 1;
}

.result-item .info h2 {
  margin-bottom: 5px;
  font-weight: bold;
}

.result-item .info p {
  font-size: 14px;
  color: #666;
}

canvas {
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
